@model BEInvitacionesOnline.Models.Template

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Template</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeTemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeTemplate.typeTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombrePlantilla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombrePlantilla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divContentCero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divContentCero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divContentOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divContentOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divContentTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divContentTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divContentThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divContentThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divContentFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divContentFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divContentFive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divContentFive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divContentSix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divContentSix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divContentSeven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divContentSeven)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divContentEight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divContentEight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.divContentFooter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.divContentFooter)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
